
@{
    ViewBag.Title = "Delete";
}

<h1>Delete</h1>
Are you sure you want to delete : 
@ViewBag.path
<div class="container">
    <input type="button" id="okBtn" class="btn btn-danger" value="OK" />
    <input type="button" id="cnlBtn" class="btn" value="cancel" />
</div>
<script>
    $("#cnlBtn").click(function () {
        window.location.replace("@Url.Action("Config", "Config",new  { })");
    });

    $("#okBtn").click(function () {
        $("#okBtn").addClass("disabled");
        $("cnlBtn").addClass("disabled");
        var input = { path:"@ViewBag.path"};
        $.get("@Url.Action("DeleteHandler")", input, function (data) {
            alert(data + " deleted!");
            window.location.replace("@Url.Action("Config", "Config",new  { })");
        }, "text");
    });
</script>
